@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
    --font-light: #a7b6c9;
    --font-dark: #2b3842;
    --font-white: #ffffff;
    --bg-color: #ffffff;
	--primary: #456efe;
	--primary-hover: #577cfe;
	--success: #1ccd9d;
	--success-hover: #3dd4ab;
	--alert: #fcaf2a;
	--alert-hover: #fcbb49;
	--danger: #ff6951;
	--danger-hover: #ff7d69;
}

* {
	font-family: 'Nunito', sans-serif;
}

ion-app {
	margin-top: env(safe-area-inset-top);
	margin-bottom: env(safe-area-inset-bottom)
}

.title {
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: .35px;
	padding: 0 .35rem;
}

.sub-title {
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: .5px;
	padding: 0 .35rem;
}

.description {
	font-size: .9rem;
	font-weight: 400;
	letter-spacing: .5px;
	padding: 0 .35rem;
	margin: 0;
}

.text-white {
	color: var(--font-white) !important;
}

.text-dark {
	color: var(--font-dark) !important;
}

.text-light {
	color: var(--font-light) !important;
}

.text-primary {
	color: var(--primary) !important;
}

.text-success {
	color: var(--success) !important;
}

.text-danger {
	color: var(--danger) !important;
}

.text-alert {
	color: var(--alert) !important;
}

.text-primary-light {
	color: #98adf8 !important;
}

.text-success-light {
	color: #beede0 !important;
}

.text-danger-light {
	color: #f6aa9e !important;
}

.text-alert-light {
	color: #f8dfb7 !important;
}

.text-thin {
	font-weight: 300 !important;
}

.text-bold {
	font-weight: 700 !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.btn-icon {
	width: 45px;
	height: 45px;
	border-radius: 10px;
	margin-right: .25rem;
	font-size: 1.35rem;
}

.btn-small {
	width: auto;
	height: 30px;
	margin: .5rem .25rem;
	padding: 0 1.35rem;
	font-size: .85rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 7px;
}

.btn-default {
	width: auto;
	height: 45px;
	margin: .5rem .25rem;
	padding: 0 1.85rem;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 10px;
}

.btn-large {
	width: 97%;
	height: 45px;
	margin: .25rem 1.5%;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 10px;
}

.btn-link {
	color: var(--font-dark);
	width: auto;
	height: 45px;
	margin: .5rem .25rem;
	padding: 0 1.85rem;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 10px;
	background-color: transparent;
}

.btn-rounded {
	width: auto;
	height: 30px;
	margin: .5rem .25rem;
	padding: 0 .75rem;
	color: var(--primary);
	font-size: .75rem;
	font-weight: 500;
	letter-spacing: .5px;
	border-radius: 15px;
	background-color: #c8dbf3;
}

.bg-primary {
	color: var(--font-white);
	background-color: var(--primary);
}

.bg-primary:hover {	
	background-color: var(--primary-hover);
}

.bg-success {
	color: var(--font-white);
	background-color: var(--success);
}

.bg-success:hover {
	background-color: var(--success-hover);
}

.bg-alert {
	color: var(--font-white);
	background-color: var(--alert);
}

.bg-alert:hover {
	background-color: var(--alert-hover);
}

.bg-danger {
	color: var(--font-white);
	background-color: var(--danger);
}

.bg-primary:hover {
	background-color: var(--primary-hover);
}

.container {
    width: 90%;
    margin: .85rem auto;
}

.header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	align-items: center;
	background-color: var(--bg-color);
}

.nav {
	width: 90%;
	margin: 0 auto;
	color: var(--font-dark);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-input {
	width: 97%;
	height: 43.5px;
	margin: .5rem 1.5%;
	padding: 0 .75rem;
	outline: none;
	border-radius: 10px;
	border: 1.5px solid var(--font-light);
	background-color: var(--bg-color);
}

.form-input:disabled {
	background-color: #ececec;
}

.cards-wrapper {
	width: 100%;
	margin: .5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	width: 46.5%;
	height: 145px;
	margin: .35rem .25rem;
	padding: 1rem;
	border-radius: 25px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-icon {
	width: 43px;
	height: 43px;
	font-size: 1.5rem;
	border-radius: 25px;
	background-color: var(--bg-color);

	display: flex;
	justify-content: center;
	align-items: center;
}

.card-content {
	height: 65px;
	color: var(--font-white);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.card-content p {
	margin: 0;	
	font-size: .85rem;
	font-weight: 400;
}

.card-content span {
	margin: .15rem 0;
	font-size: 1.15rem !important;
}

.tags-wrapper {
	width: 100%;
	margin: .5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.tag {
	width: 46.5%;
	height: 65px;
	margin: .35rem .25rem;
	padding: .75rem;
	border-radius: 10px;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.1);

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.tag-icon {
	width: 35px;
	height: 35px;
	font-size: 1.15rem;
	border-radius: 10px;
	color: var(--font-white);

	display: flex;
	justify-content: center;
	align-items: center;
}

.tag-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	padding-left: .5rem;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: .75rem;
	margin-bottom: 2rem;
}

.list-item {
	width: 100%;
	height: 60px;
	margin: .25rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-content {
	width: 85%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.list-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.list-action {
	width: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.list-action ion-icon {
	color: var(--success);
	font-size: 2rem;
	padding: .25rem;
  }