@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --font-light: #a7b6c9;
    --font-dark: #2b3842;
    --font-white: #ffffff;
    --bg-color: #ffffff;
	--primary: #456efe;
	--primary-hover: #577cfe;
	--success: #1ccd9d;
	--success-hover: #3dd4ab;
	--alert: #fcaf2a;
	--alert-hover: #fcbb49;
	--danger: #ff6951;
	--danger-hover: #ff7d69;
}

.title {
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: .35px;
	padding: 0 .25rem;
}

.sub-title {
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: .5px;
	padding: 0 .25rem;
}

.description {
	font-size: .9rem;
	font-weight: 400;
	letter-spacing: .5px;
	padding: 0 .25rem;
}

.text-white {
	color: var(--font-white);
}

.text-dark {
	color: var(--font-dark);
}

.text-light {
	color: var(--font-light);
}

.text-thin {
	font-weight: 300 !important;
}

.btn-small {
	padding: 1rem;
	margin: .25rem;
	letter-spacing: .5px;
	border-radius: 10px;
}

.btn-default {
	width: auto;
	height: 45px;
	margin: .25rem;
	padding: 0 1.85rem;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 10px;
}

.btn-large {
	width: 90%;
	height: 45px;
	margin: .25rem;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 10px;
}

.bg-primary {
	color: var(--font-white);
	background-color: var(--primary);
}

.bg-primary:hover {	
	background-color: var(--primary-hover);
}

.bg-success {
	color: var(--font-white);
	background-color: var(--success);
}

.bg-success:hover {
	background-color: var(--success-hover);
}

.bg-alert {
	color: var(--font-white);
	background-color: var(--alert);
}

.bg-alert:hover {
	background-color: var(--alert-hover);
}

.bg-danger {
	color: var(--font-white);
	background-color: var(--danger);
}

.bg-primary:hover {
	background-color: var(--primary-hover);
}

.container {
    width: 90%;
    margin: .85rem auto;
}

.header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	align-items: center;
	background-color: var(--bg-color);
}

.nav {
	width: 90%;
	margin: 0 auto;
	color: var(--font-dark);
}